.hero {}

.hero img {
    width: 100%;
}

.hero_content {
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 0;
    margin: 300px 0 100px 300px;
}

.hero_content h1 {
    font-size: 100px;
    font-weight: 700;
}

.hero_content p{
    font-size: 50px;
    font-style: italic;
    text-align: center;
}