.home {
	font-family: 'Clan Web';
}

.hero img {
	width: 100%;
}

.hero_content {
	color: #FFFFFF;
	font-family: 'Clan Web';
	padding: 250px 0;
	text-align: center;
}

.hero_content h1 {
	font-size: 70px;
	font-weight: 600;
}

.hero_content .first {
	font-size: 35px;
	font-weight: 400;
}

.hero_content .second {
	font-size: 25px;
	font-weight: 400;
}


/*=========================================
HISTORY SECTION  
==========================================*/

.history_title h1 {
	color: #111517;
	font-family: 'Clan Web';
	font-weight: 100;
	font-size: 50px;
	margin-top: 100px;
	margin-bottom: 40px;
}

.history_narrative {
	font-family: 'Clan Web';
	font-weight: 400;
	font-size: 20px;
	line-height: 50px;
	margin-bottom: 100px;
}


/*=========================================
CITIES SECTION
==========================================*/

.the_cities_title h1 {
	color: #111517;
	font-family: 'Clan Web';
	font-weight: 100;
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 40px;
	text-transform: uppercase;
}


.card img {
	width: 100%;
}

li{
  list-style: none;
}
