.home{
    font-family: 'Clan Web'; 
}

.hero img {
    width: 100%;
}

.hero_content {
    color: #FFFFFF;
    font-family: 'Clan Web';
    padding: 250px 0;
    text-align: center;
}

.hero_content h1{
    font-size: 50px;
    font-weight: 600;
}

.hero_content .first{
    font-size: 35px;
    font-weight: 400;
}

.hero_content .second{
    font-size: 25px;
    font-weight: 400;
    padding: 15px 20px;
}

/*=========================================
HISTORY SECTION  
==========================================*/
.history_title,
.the_cities_title{
    font-family: 'Clan Web';
    margin: 50px 20px;
    text-align: center;
    font-weight: 500;
}

hr{
    width: 5%;
    border: 1px solid #EF0D33;
}

.history_narrative{
    font-family: 'Clan Web';
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
    margin-bottom: 50px; 
}

/*=========================================
CITIES SECTION
==========================================*/
.theCities{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.card img{
    width: 30%;
}