@font-face {
	font-family: "Mark Web Pro"; 
	font-style: normal; 
	font-weight: 300;
	src: url(../fonts/markwebpro-light.woff);
}

@font-face {
	font-family: "Mark Web Pro"; 
	font-style: normal; 
	font-weight: 400;
	src: url(../fonts/markwebpro-medium.woff);
}

@font-face {
	font-family: "NeuzeitGro"; 
	font-style: normal; 
	font-weight: 400;
	src: url(../fonts/NeuzeitGro-Regular.woff);
}

@font-face {
	font-family: "NeuzeitGro"; 
	font-style: normal; 
	font-weight: 700;
	src: url(../fonts/NeuzeitGro-Black.woff);
}

@font-face {
	font-family: "Trump Gothic East"; 
	font-style: normal; 
	font-weight: 900;
	src: url(../fonts/TrumpGothicEast_bold.tff);
}